# Environment variables
.env

# OS X
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Visual Studio Code
.vscode/

#project specific settings
.settings/
*.code-workspace

# langchain generated folders
data/flagged_data_points/


# Virtual Environment
venv/

# jupyter
*.ipynb
.ipynb_checkpoints/

# Github Actions and nektos/act
act.env
