# Environment variables
.env
.env.local
.env.production
.env.staging

# OS X
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.python-version

# Visual Studio Code
.vscode/

#project specific settings
.settings/
*.code-workspace

# langchain generated folders
data/flagged_data_points/


# Virtual Environment
venv/
.venv/

# Local Fly Testing
fly.toml

# jupyter
*.ipynb
.ipynb_checkpoints/

# Github Actions and nektos/act
act.env
