# fly.toml app configuration file generated for vineeth-test-py on 2023-09-09T17:18:22-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
primary_region = "bos"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[processes]
discord = "python -u -m bot.app"
api = "python -m uvicorn api.main:app --host 0.0.0.0 --port 8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["api"]
  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200
