@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.typing_dot {
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  50% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.5;
  }
}

.typing_dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing_dot:nth-child(3) {
  animation-delay: 0.4s;
}

.disclaimer-text {
  font-size: 0.8rem;
  opacity: 0.7;
  color: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 40, 20%, 94%; /* #f3f1ed */
    --foreground: 0, 0%, 10%; /* #191919 */
    --secondary: 0, 0%, 98%; /* #FAFAFA */
    --accent: 0, 0%, 89%; /* #E2E2E2 */
    font-size: 87.5%;
  }
  .dark {
    --background: 0, 0%, 10%; /* #191919 */
    --foreground: 40, 20%, 94%; /* #f3f1ed */
    --secondary: 0, 0%, 0%; /* #000000 */
    --accent: 0, 0%, 22%; /* #383838 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
