@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.typing_dot {
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  50% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.5;
  }
}

.typing_dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing_dot:nth-child(3) {
  animation-delay: 0.4s;
}
